* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.navbar-container {
    border: 1px solid purple;
    padding: 20px;

    display: flex;
    justify-content: center;
}

.navbar {
    border: 1px solid red;
    width: 900px;

    display: flex;
    justify-content: space-between;
}

.header-links {
    border: 3px solid green;

    display: flex;
    justify-content: space-around;
    /* font-weight: 18px bold; */
    /* color:#e5e7eb; */
}

.link {
    margin-left: 10px;
}

.header-logo {
    /* flex: 1; */
    border: 1px solid blue;
}